<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
        <li><a href="/admin/users">用户</a></li>
        <li><a href="/admin/folder">文件夹</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="/admin">项目</a></li>
        <li><a href="">讨论</a></li>
        <li><a href="">评论</a></li>
        <li><a href="">任务</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="/admin/weekly">周报</a></li>
    </ul>
</div>