<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.ico">

    <!-- Loading Bootstrap -->
    <link href="/utils/flat-ui/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/utils/flat-ui/css/flat-ui.css" rel="stylesheet">

    <!-- Common CSS -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="/utils/flat-ui/js/vendor/html5shiv.js"></script>
      <script src="/utils/flat-ui/js/vendor/respond.min.js"></script>
    <![endif]-->
