<% include _head.ejs %>
<link rel="stylesheet" href="/css/flat-ui.css">
<link rel="stylesheet" href="/css/register.css">
<link rel="stylesheet" href="/css/password.css">
<% include _header.ejs %>

<div class="c-info">
  <% if (error) { %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= error %>
  </div>
  <% } %>
</div>


<div class="c-info">
  <% if (success) { %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= success %>
  </div>
  <% } %>
</div>


<div class="container">
  <div class="register">
    <div class="login-screen c_login_screen">
      <h1 class="c_title">找回密码</h1>
      <form role="form" action="/find_password" method="post">
        <div class="login-form">
          <div class="form-group">
            <input type="text" class="form-control login-field" name="email" value="" placeholder="请输入您的邮箱" id="login-name" />
            <label class="login-field-icon fui-user" for="login-name"></label>
          </div>

          <button type="submit" class="btn btn-primary btn-lg btn-block">找回密码</button>
          <p class="login-link">
            <a href="/find_password">忘记密码?</a>
            或<a href="/register">没有帐号?</a>
          </p>
        </div>
      </form>
    </div>

  </div>
</div>


<% include _footer.ejs %>
<% include _foot.ejs %>
