<div class="footer">
  @<a href="http://mycolorway.com" target="_blank">WMJ设计</a>
</div>
</body>
<script src="/dist/js/vendor/jquery.min.js"></script>
<script src="/dist/js/vendor/video.js"></script>
<script src="/dist/js/flat-ui.min.js"></script>
<script src="/docs/assets/js/application.js"></script>

</html>
