<% include _head.ejs %>
<link rel="stylesheet" href="/css/index.css" media="screen" title="no title" charset="utf-8">
<% include _header.ejs %>


<div class="masthead">
  <div class="container">
    <a href="/"><h1 class="text-primary logo">nucleus</h1></a>

    <p>
      <span class="demo-heading-note">你的网上办公室</span>
    </p>
    <!--<p class="status">由 SCUIOT, JMW 设计</p>-->

    <div class="btnsign">
      <a href="/register" class="btn btn-block btn-lg btn-primary">免费注册</a>
    </div>
    <p>或
      <a href="/login" class="link-signin">登录</a>
    </p>
  </div>
</div>

<% include _footer.ejs %>
<% include _foot.ejs %>
