<link href="/stylesheets/new-project.css" rel="stylesheet">
<div class="new-project">
    <div class="link-page-behind" id="behind">
        <p class="before">Nucleus的所有项目</p></div>
    <div class="panel panel-default panel-content">
        <div class="panel-body">
            <div class="creat-project">
                <p>创建项目</p>
                <div class="col-lg-10">
                    <div class="form-group">
                        <input class="form-control" value="" placeholder="项目名称" id="login-name" type="text">
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" id="discrible" placeholder="简单描述项目，便于其他人理解（选填）"></textarea>
                    </div>
                    <label class="checkbox" for="checkbox2">
                        <input class="custom-checkbox" checked="checked" value="" id="checkbox2" data-toggle="checkbox" type="checkbox">
                        对访客隐藏敏感内容
                    </label>
                    <div class=" project-type-section">
                        <p>选择项目类型</p>
                        <input type="radio" id="project-type-standard" name="project_type" value="0" checked="">
                        <label class="project-type " for="project-type-standard">

                            <p align="center">标准项目</p>
                            <span class="fui-calendar-solid twr"></span>
                            <div class="info">
                                <p>更好地组织、细分和管理任务，适用于一般项目管理</p>
                            </div>
                        </label>

                        <input type="radio" id="project-type-agile" name="project_type" value="1">
                        <label class="project-type" for="project-type-agile">
                            <p align="center">敏捷项目（看板）</p>
                            <span class="fui-calendar twr"></span>
                            <div class="info">
                                <p>擅长处理流程化任务，适用于产品研发、用户支持等场景</p>
                            </div>
                        </label>
                    </div>
                    <div>
                        <p>
                            邀请项目成员
                        </p>

                        <p>
                            管理员可以邀请和移除项目成员，只有被邀请的团队成员才能访问该项目的信息。点击这里查看<a href="https://tower.im/help/faq/8/65/" target="_blank" rel="nofollow">如何设置成员权限</a>。
                        </p>
                        <div class="tab active" data-tab="email">
                            <div class="form-group">
                                <div>
                                    <div class="invite-item">
                                        <div class="invite-field">
                                            <input type="email" class="invite-email no-border" placeholder="请输入新成员的邮箱">

                                            <div class="invite-role-field">
                                                <select class="invite-role" id="choose-role" tabindex="-1">
                                                    <option value="0" selected="">成员</option>
                                                    <option value="1">管理员</option>
                                                    <option value="3">访客</option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="invite-item">
                                        <div class="invite-field">
                                            <input type="email" class="invite-email no-border" placeholder="请输入新成员的邮箱">

                                            <div class="invite-role-field">
                                                <select class="invite-role" id="choose-role" tabindex="-1">
                                                    <option value="0" selected="">成员</option>
                                                    <option value="1">管理员</option>
                                                    <option value="3">访客</option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="invite-item">
                                        <div class="invite-field">
                                            <input type="email" class="invite-email no-border" placeholder="请输入新成员的邮箱">

                                            <div class="invite-role-field">
                                                <select class="invite-role" id="choose-role" tabindex="-1">
                                                    <option value="0" selected="">成员</option>
                                                    <option value="1">管理员</option>
                                                    <option value="3">访客</option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <p style="font-size: 14px"><a href="javascript:;" id="add-invite-item">再加一个</a></p>
                            </div>
                        </div>

                        <!-- <div class="tab" data-tab="wechat">
                            <div class="form-item form-wechat-item">
                                <div class="form-field">
                                    <div class="wechat-invite">
                                        <div class="qrcode-wrap loading" data-url="/wechat/qrcode?type=8">
                                            <p class="indicator">正在加载二维码</p>
                                            <img class="qrcode" alt="微信双保险二维码" title="扫描这个二维码获取微信邀请函" />
                                        </div>
                                        <div class="wechat-desc">
                                            <h5>扫码邀请</h5>
                                            <p>用微信扫描二维码获取邀请函，<br>
                                                转发给微信好友，即可邀请他们加入你的项目。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div style="margin: 30px 0 20px 0;">
                        <button type="submit" class="btn btn-primary" id="btn-create-project" data-disable-with="正在创建..." data-success-text="创建成功">创建项目</button>
                        <a href="/teams/33e50bf86957490a9e6f0581cb1d7f74/projects" class="btn" >取消</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>