<% include _head.ejs %>
<link href="/css/home.css" rel="stylesheet">
<link href="/css/new-project.css" rel="stylesheet">
<% include _header.ejs %>
<% include _nav.ejs %>


<div class="c-info">
  <% if (error) { %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= error %>
  </div>
  <% } %>
</div>

<div class="c-info">
  <% if (success) { %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= success %>
  </div>
  <% } %>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <a href="/projectindex" class="c_behind_title">
      <div class="new-project">
        <div class="link-page-behind" id="behind">
          <%= user.name %>的所有项目
        </div>
      </div>
        </a>
    </div>

    <div class="col-xs-10 col-xs-offset-1 page">
      <div>
        <div class="panel-body">
          <div class="creat-project">
            <p>创建项目</p>
            <div class="col-lg-10">
              <div class="form-group">
                <input class="form-control" value="" placeholder="项目名称" id="projectname" name="projectname"
                       type="text">
              </div>

              <div class="form-group">
                  <textarea class="form-control" id="description" name="description"
                            placeholder="简单描述项目，便于其他人理解（选填）"></textarea>
              </div>
              <label class="checkbox" for="checkbox2">
                <input checked="checked" value="1" id="checkbox" name="checkbox" data-toggle="checkbox"
                       type="checkbox">
                对访客隐藏敏感内容
              </label>
              <div>
                <p>
                  邀请项目成员
                </p>

                <p>
                  管理员可以邀请和移除项目成员，只有被邀请的团队成员才能访问该项目的信息。点击这里查看<a href="https://tower.im/help/faq/8/65/" target="_blank"
                                                               rel="nofollow">如何设置成员权限</a>。
                </p>
                <div class="tab active" data-tab="email">
                  <div class="form-group">
                    <div id="parent">
                      <div>
                        <div class="invite-item invite-field">
                          <input type="email" class="invite-email no-border" name="email" placeholder="请输入新成员的邮箱">

                          <div class="invite-role-field">
                            <select class="invite-role" id="choose-role" name="choose-role" tabindex="-1">
                              <option value="0" selected="">成员</option>
                              <option value="1">主管</option>
                              <option value="2">管理员</option>
                            </select>
                          </div>

                        </div>
                      </div>
                      <div>
                        <div class="invite-item invite-field">
                          <input type="email" class="invite-email no-border" name="email" placeholder="请输入新成员的邮箱">

                          <div class="invite-role-field">
                            <select class="invite-role" id="choose-role" name="choose-role" tabindex="-1">
                              <option value="0" selected="">成员</option>
                              <option value="1">管理员</option>
                              <option value="2">主管</option>
                            </select>
                          </div>

                        </div>
                      </div>
                      <div>
                        <div class="invite-item invite-field">
                          <input type="email" class="invite-email no-border" name="email" placeholder="请输入新成员的邮箱">

                          <div class="invite-role-field">
                            <select class="invite-role" id="choose-role" name="choose-role" tabindex="-1">
                              <option value="0" selected="">成员</option>
                              <option value="1">管理员</option>
                              <option value="3">主管</option>
                            </select>
                          </div>

                        </div>
                      </div>
                    </div>
                    <p>
                    <div class="btn btn-default" id="add">再加一个</div>
                    </p>
                  </div>
                </div>

                <!-- <div class="tab" data-tab="wechat">
                    <div class="form-item form-wechat-item">
                        <div class="form-field">
                            <div class="wechat-invite">
                                <div class="qrcode-wrap loading" data-url="/wechat/qrcode?type=8">
                                    <p class="indicator">正在加载二维码</p>
                                    <img class="qrcode" alt="微信双保险二维码" title="扫描这个二维码获取微信邀请函" />
                                </div>
                                <div class="wechat-desc">
                                    <h5>扫码邀请</h5>
                                    <p>用微信扫描二维码获取邀请函，<br>
                                        转发给微信好友，即可邀请他们加入你的项目。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
              </div>
              <div style="margin: 30px 0 20px 0;">
                <button type="button" class="btn btn-primary" id="btn-create-project" data-disable-with="正在创建..."
                        data-success-text="创建成功">创建项目
                </button>
                <a href="/teams/33e50bf86957490a9e6f0581cb1d7f74/projects" class="btn">取消</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<% include _footer.ejs %>
<script src="/js/newproject.js"></script>
<% include _foot.ejs %>

