<% include _head.ejs %>
<link href="/css/home.css" rel="stylesheet">
<link href="/css/project-index.css" rel="stylesheet">
<% include _header.ejs %>
<% include _nav.ejs %>


<div class="c-info">
  <% if (error) { %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= error %>
  </div>
  <% } %>
</div>

<div class="c-info">
  <% if (success) { %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= success %>
  </div>
  <% } %>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 page">

      <h3 class="page-title">
        项目管理
      </h3>

      <div id="project-index">
        <div id="page-projects">
          <div class="project-head">
            <div class="view">
              <a href="javascript:;" class="link-view link-grid-view active" title="网格视图">
                <span class="fui-list-thumbnailed"></span>
              </a>
              <a href="javascript:;" class="link-view link-list-view" title="列表视图">
                <span class="fui-list-numbered"></span>
              </a>
            </div>

            <a class="newproject" href="newproject">
              新建项目

            </a>
          </div>
          <div class="project-body">

            <% if (project.length > 0) { %>
            <% project.forEach(function (item) {
            if(item.accept == 1){ %>
            <a href="/project?ssl=<%= item.ss %>" class="project">
                <span>
                   <span class="badge"><img src='img/tasks.png'/></span> <p class="name"><%= item.project_name %></p>
                </span>
            </a>

            <% } }); %>
            <% } else { %>
            <div class="empty">
              还没有创建过哦~
            </div>
            <% } %>
          </div>
          <div class="projects-footer">
            <a href="/teams/33e50bf86957490a9e6f0581cb1d7f74/project_templates" data-stack="" data-visible-to="member">管理项目模板</a>

          </div>
          <input type="hidden" id="select-plan-path" value="/teams/33e50bf86957490a9e6f0581cb1d7f74/plans">
        </div>
      </div>
    </div>
  </div>
</div>


<% include _footer.ejs %>
<% include _foot.ejs %>