<link href="/stylesheets/project-index.css" rel="stylesheet">
<div id="project-index">
    <div class="page-inner" id="page-projects" data-page-name="Nucleus的所有项目">
        <div class="project-head">
            <div class="view">
                <a href="javascript:;" class="link-view link-grid-view active" title="网格视图">
                    <span class="fui-list-thumbnailed"></span>
                </a>
                <a href="javascript:;" class="link-view link-list-view" title="列表视图">
                    <span class="fui-list-numbered"></span>
                </a>
            </div>

            <a>
                新建项目
            </a>
        </div>
        <div class="project-body" >
            项目目录
        </div>
        <div class="projects-footer">
            <a href="/teams/33e50bf86957490a9e6f0581cb1d7f74/project_templates" data-stack="" data-visible-to="member">管理项目模板</a>

        </div>
        <input type="hidden" id="select-plan-path" value="/teams/33e50bf86957490a9e6f0581cb1d7f74/plans">
    </div>
</div>