<html>


<head>
  <title>Register</title>
</head>


<body>

<form>
  <input type="text" id="name" placeholder="请输入姓名">
  <br/>
  <input type="text" id="passwd" value="" placeholder="please password">
  <br/>
  <button type="button" id="button">Register</button>


</form>


</body>

<script type="text/javascript" src="/javascripts/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/javascripts/register.js"></script>
</html>
