<% include _head.ejs %>
<link rel="stylesheet" href="/css/flat-ui.css">
<link rel="stylesheet" href="/css/register.css">
<% include _header.ejs %>

<div class="c-info">
  <% if (error) { %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= error %>
  </div>
  <% } %>
</div>

<div class="container">
  <div class="register">
    <div class="login-screen">
      <div class="login-icon">
        <img src="/img/login/icon.png" alt="Welcome to Mail App"/>
        <h4>Welcome to <a href="/" class="font-white">
            <small>Nucleus</small>
          </a></h4>
      </div>
      <form role="form" action="/register" method="post">
        <div class="login-form">
          <div class="form-group">
            <input type="text" class="form-control login-field" id="login-name" name="name" placeholder="你的名字"
                   required/>
            <label class="login-field-icon fui-user" for="login-name"></label>
          </div>
          <div class="form-group">
            <input type="email" class="form-control login-field" id="login-email" name="email"
                   placeholder="邮箱，例如: 10001@qq.com" required/>
            <label class="login-field-icon fui-mail" for="login-email"></label>
          </div>
          <div class="form-group">
            <input type="password" class="form-control login-field" name="password" value="" placeholder="请输入您的密码"
                   id="login-pass"/>
            <label class="login-field-icon fui-lock" for="login-pass"></label>
          </div>
          <div class="form-group">
            <input type="password" class="form-control login-field" name="re_password" value="" placeholder="请再次输入密码"
                   id="login-re-pass"/>
            <label class="login-field-icon fui-lock" for="login-re-pass"></label>
          </div>

          <button type="submit" class="btn btn-primary btn-lg btn-block">注册</button>
          <a class="login-link" href="/login">已有账号？直接登录</a>
        </div>
      </form>
    </div>
  </div>
</div>


<% include _footer.ejs %>
<% include _foot.ejs %>
