@media (max-width: 600px) {
    .c_login_screen {
        padding: 120px 10px;
    }
}
@media (min-width: 600px) {
    .c_login_screen {
        padding: 123px 199px 33px 199px;
    }
}
@media (min-width: 900px) {
    .c_login_screen {
        padding: 123px 30% 33px 30%;
    }
}
