.project-header {
    position: relative;
    padding: 30px 0 4px;
    border-bottom: 1px solid #B8C8CB;
}
.project-links {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 58px;
    overflow: hidden;
}
.project-links a {
    display: block;
    float: left;
    position: relative;
    margin: 0 8px 0 7px;
    padding: 8px 0px;
    width: 70px;
    color: #84a099;
    font-size: 12px;
    text-align: center;
    border-right: 1px solid #ddd;
    height: 34px;
}
.project-links a .main {
    font-size: 18px;
    line-height: 24px;
}
.project-links a span {
    display: block;
}
.project-content{
    padding: 0px 40px 50px 40px;
}
.project-hd-info
{
    padding-bottom: 16px;border-bottom: 4px solid #B8C8CB;
}
.setting{
    display: block;
}
.project-sections a{
    color: #84a099;
}
.demo-heading-note
{
    margin-left: 45px;
}

.section{
    margin-bottom: 50px;
    position: relative;
    width: 100%;
}

.c_file {
    margin: 30px 20px 0 105px;

}
.c_file_img {
    width: 120px;
    height: 100px;
    text-align: center;
    cursor: pointer;
    margin: 10px 0;
}
.c_file_img img {
    display: inline;
    width: 90%;
    text-align: center;
}
.c_file_title {
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    margin: 0;
}
.c_file_img:hover .c_file_title{
    color: #4298ba;
}
.c_file_tips,
.c_file_tips a {
    font-size: 12px;
    color: #4298ba;
    margin: 0;
}
.c_file_tips span {
    margin: 0 5px;
}
.c_file_tips span:hover,
.c_file_tips a span:hover{
    text-decoration: underline;
}
.c_select_folder {
    text-align: left;
    margin: 10px;
}
.c_select_folder label {
    cursor: pointer;
}