body.background {
    background: #1abc9c;
}
/*.register{*/
    /*background-size: 940px 778px;*/
    /*color: #ffffff;*/
    /*margin-bottom: 77px;*/
    /*padding: 38px 38px 267px;*/
    /*position: relative;*/
/*}*/
/*.register>.login-screen {*/
    /*min-height:0;*/
/*}*/
.login-screen h4 {
    color: #fff;
}

@media (max-width: 768px) {
    .login-screen {
        padding: 120px 10px;
    }
    .login-form {
        margin-top: 100px;
    }
    .login-icon {
        top: 60px;
        margin: 0 auto;
        left: 10%;
    }
    .login-icon h4 {
        position: absolute;
        top: 0px;
        left: 140px;
        width: 200px;
    }
}