.form-item{
	margin:10px auto 30px auto;
}
.messages{margin:20px 0 30px}
.messages .message{padding:15px 100px 12px 126px;border-bottom:1px solid #dddddd;position:relative}
.messages .message.sticky .message-actions .stick{display:none}
.messages .message.sticky .message-actions .unstick{display:inline}
.messages .message.sticky .message-title::before{display:inline}
.messages .message .message-actions{display:none;position:absolute;left:-84px;top:22px;z-index:95;width:85px}
.messages .message .message-actions .stick{display:inline}
.messages .message .message-actions .unstick{display:none;color:#9C3A3A}
.messages .message .message-actions .unarchive{display:none}
.messages .message .message-actions .inr{float:right;padding:2px 15px 2px 10px;background:#fff;border-radius:10px 0 0 10px;box-shadow:-1px 0 1px rgba(0,0,0,0.2);*zoom:1}
.messages .message .message-actions .inr:before,.messages .message .message-actions .inr:after{display:table;content:""}
.messages .message .message-actions .inr:after{clear:both;height:0;visibility:hidden}
.messages .message .message-actions .inr a{padding:4px 5px;color:#84a099;opacity:0.7}
.messages .message .message-actions .inr a:hover{opacity:1}
.messages .message .message-actions .inr a.unstick{color:#9C3A3A}
.messages .message .message-title::before{display:none;margin-right:5px;padding:0.1em 0.2em;vertical-align:1px;color:#fff;font-size:82%;font-weight:normal;background-color:#9C3A3A;border-radius:2px}
.messages .message .avatar{display:block;width:40px;height:40px;border-radius:50%;position:absolute;top:15px;left:5px;box-shadow:0 1px 3px rgba(0,0,0,0.15)}
.messages .message .name{width:58px;font-size:12px;line-height:12px;text-align:center;position:absolute;top:29px;left:53px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.messages .message .name a{color:#000000}
.messages .message .message-link{display:block;min-height:40px;font-size:14px;line-height:16px}
.messages .message .message-link .message-title{display:block;color:#333333;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.messages .message .message-link:hover .message-title{color:#0066aa}
.messages .message .comment-info{position:absolute;top:38px;right:5px}
.messages .message .message-link .message-content{display:block;line-height:1.5;color:#999999;margin:6px 0 0 0;word-wrap:break-word}
.messages .message.unread .message-link .message-title{font-weight:bold;color:#000000}
.messages .message.unread .message-link:hover .message-title{color:#0066aa}
.messages .message .time{display:block;font-size:12px;line-height:12px;color:#aaaaaa;position:absolute;top:16px;right:5px}
.messages .message .comment-info{position:absolute;top:38px;right:5px}
.messages .message .label-attachment{position:relative;top:2px;margin-right:5px;color:#887}
.messages .message .comments-count{display:inline-block;font-size:11px;line-height:12px;color:#ffffff;padding:2px 8px;background:#dddddd;border-radius:10px}
.messages .message.unread .comments-count{background:#87a0b0}
.messages .archive-info{padding:12px;color:#887;font-size:14px;border-bottom:1px solid #ddd}
.messages .archive-info .reopen{margin-left:10px;color:#999}
.messages .archive-info .content{max-width:650px;display:inline-block;vertical-align:bottom;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.messages .archive-info a{color:#555}
.messages .archive-info a:hover{color:#887}
.message-title{display: block}
.message-content{margin-top: 3px}
.topic {
	border-bottom: 1px solid #ddd;
	padding: 0 0 30px 0;
	margin: 20px 0 30px;
	width: 700px;
}
.detail-actions {
	position: absolute;
	top: 20px;
	right: -1px;
	right: 0px;
	padding: 10px 0 10px 10px;
	margin-top: 42px;
	font-size: 14px;
}